//VARIABLES

// SHOWTIME
$black : #0F0E0F;
$darkGrey : #272425;
$greyA : #717574;
$greyB : #A8A8A7;
$lightGreyA : #D7DBDA;
$lightGreyB : #C2C1BF;
$white : #FBFBFB;
$darkRed : #521819;
$paleRose : #90696E;
$red : #DE363D;
$blue : #30465F;
$lightBlueA : #6AB4C5;
$lightBlueB : #C0F0F4;
$lightGreenA : #E6E7CD;
$lightGreenB : #CED9B7;
