@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";

* {

}

a {
  color: $blue;
  text-decoration: none !important;
  transition: .2s ease-in-out;
  &:hover{
    color: $lightBlueA;
  }
}

html, body {
  background: $white;
  // font-family: 'Halant', serif;
}

h1 {
  font-size: 2.5rem;
  color: $black;
}

h2 {
  font-size: 2rem;
  color: $black;
}

h3 {
  color: $black;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

// .anchor{
//   display: block;
//   height: 115px; /*same height as header*/
//   margin-top: -115px; /*same height as header*/
//   visibility: hidden;
// }

// HEADER
header {

}

// NAVIGATION
nav{

}

// SECTION 1
#one{

}
// SECTION 2
#two{

}
// SECTION 3
#three{

}
// SECTION 4
#four{

}
// FOOTER
footer {

}

// MEDIA QUERIES

//phone
@media (min-width: 0px) and (max-width: 600px) {

}

//tablet portrait
@media (min-width: 601px) and (max-width: 900px) {

}

//tablet landscape
@media (min-width: 901px) and (max-width: 1200px) {

  }

//desktop
@media (min-width: 1201px) and (max-width: 1800px) {

}
//big desktop
@media (min-width: 1801px) and (max-width: 2000px) {

}
